---
import LayoutWithHero from '../../layouts/LayoutWithHero.astro';
import Card from '../../components/Card.astro';
import imgHero from '../../assets/img/agenda-musique-09.jpg';

import { getEvents } from '../../js/backend.mjs';

const events = await getEvents();

const title = "Agenda";
const description = "Lieu de création artistique, le conservatoire propose régulièrement des actions culturelles ouvertes à tous.";

---

<LayoutWithHero title={title} description={description} src={imgHero} alt="Orchestre de musique classique" classContent="">
  <p slot="chapo">
    Lieu de création artistique, le conservatoire propose régulièrement des actions culturelles ouvertes à tous.
  </p>

  <Fragment slot="content">
    <div class="grille my-24">
      {events.length > 0 ? (
        events.map(event => 
          <Card {...event} />
        )
      ) : (
        <p class="col-span-4">Aucun événement à afficher.</p>
      )}
    </div>
  </Fragment>
</LayoutWithHero>