@import "tailwindcss";

@theme {
  --color-indigo: oklch(26.53% 0.1502 278.05); /* #1d096b */
  --color-pink: oklch(82.94% 0.1209 30.54); /* #feaa9b */

  --font-sans: "Mulish", "sans-serif";
  --font-mono: "Space Mono", "monospace";

  --my-grid: repeat(12, minmax(0, 64px));
}

@layer base {
  body {
    @apply font-sans text-base leading-normal;
  }
  h1 {
    @apply text-4xl font-mono leading-tight lg:text-6xl;
  }
  h2 {
    @apply text-2xl font-mono leading-tight lg:text-4xl;
  }
  h3 {
    @apply text-xl font-sans font-bold leading-tight my-4;
  }
  ::selection {
    @apply bg-(--color-pink);
  }
}

@layer components {
  .grille {
    @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
  }
  .noscroll {
    overflow: hidden;
  }
  header.bg-white #menu-btn[aria-expanded="false"] > span {
    @apply !bg-black;
  }
  header:not(.bg-white) button[aria-label="Recherche"] > svg > * {
    @apply max-lg:stroke-white;
  }
  .duotone {
    @apply relative flex overflow-hidden bg-(--color-pink) before:absolute before:inset-0 before:z-[1] before:bg-(--color-indigo) before:mix-blend-lighten before:transition-all before:duration-300 before:ease-in-out;
    img {
      @apply flex-[1_0_100%] object-cover mix-blend-multiply grayscale transition-all duration-300 ease-in-out;
    }
  }
}
